<div class="story" id="story-<%= story.id %>">
  <div class="scoring">
    <%= link_to "up", upvote_path(story), :remote => true, :class => :upvote %>    
    <div class="score"><%= story.score %></div>
    <%= link_to "down", downvote_path(story), :remote => true, :class => :downvote %>
  </div>
  <div class="info">
    <div class="title"><%= link_to story.title, check_http(story.link), :target => :new %> <span class="site">(<%= link_to story.site, story.link, :target => :new %>)</span></div>
    <div class="details">submitted <span class="date"><%= format_time story.created_at %> ago</span> by <%= link_to story.user.username, story.user, :class => :user %></div>
    <div class="actions">
      <%= link_to 'link', story_path(story) %>
      <%= link_to 'edit', edit_story_path(story) if can? :update, story %>
      <%= link_to 'delete', story, :confirm => 'Are you sure?', :method => :delete if can? :destroy, story %>
    </div>
  </div>
</div>